<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SEYR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SEYR.Properties.Settings>
            <setting name="Folder_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Composer_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Viewer_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Composer_Size" serializeAs="String">
                <value>900, 635</value>
            </setting>
            <setting name="Viewer_Size" serializeAs="String">
                <value>500, 500</value>
            </setting>
            <setting name="Composer_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Viewer_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Composer_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Viewer_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Composer_Valid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Viewer_Valid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatternWizard_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PatternWizard_Size" serializeAs="String">
                <value>700, 650</value>
            </setting>
            <setting name="PatternWizard_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatternWizard_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatternWizard_Valid" serializeAs="String">
                <value>False</value>
            </setting>
        </SEYR.Properties.Settings>
    </userSettings>
</configuration>